*{
    font-family: arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:901px){
.navbar{
    display:none;
}
.logooo{
    width: 4rem;
    margin-right: 1rem;
}
.login-btn{
    outline: none;
    background-color: rgb(67, 81, 67);
    border: none;
    color: white;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    font-weight: bold;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    align-items: center;
    z-index: 100;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.logo{
    font-size: 2rem;
    color: darkolivegreen;
    text-decoration: none;
}
.navbar2 a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    margin: 1.5rem 0;
    display: block;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.icons{
    font-size: 2.8rem;
    color: darkolivegreen;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    right: 5%;
}
.icons #close-icon{
    display: none;
}
.navbar2{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 5rem;
    background-color: darkolivegreen;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#check{
    display: none;
}

#check:checked~.icons #menu-icon {
    display: none;
}

.icons #close-icon {
    display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}
#check:checked~.navbar2 {
    height: 11rem;
}
#check:checked~.navbar2 a{
    transform: translateY(0);
}
}
@media only screen and (min-width:902px){
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.header{
    display: none;
}
.logoo{
    width:70px;
    height:auto;
    grid-column-start: 3;
    grid-row-start:3;
    margin-right: 11px;
}
.logo{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    font-size: 35px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 11;
}
.about{
    grid-column-start: 44;
    grid-column-end: 52;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about:hover{
    color:black;
}
.home{
    grid-column-start: 37;
    grid-column-end: 40;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home:hover{
    color:black;
}
.login{
    grid-column-start: 53;
    grid-column-end: 57;
    grid-row-start: 7;
    grid-row-end: 14;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login:hover{
    background-color: yellowgreen;
}
button{
    margin-top: 3%;
}
#home2{
    font-size: 17px;
    padding-bottom: 10px;
    font-family: Arial;
    color:white;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
}

.aboutus{
    padding-top: 3rem;
}
.bigcontainer{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.aboutus .one{
    color: darkolivegreen;
    font-size: 40px;
}
.one{
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 20px;
    color: darkolivegreen;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.content2{
    flex: 1;
    width: 600px;
    margin: 0 25px;
    animation: fadeInBottom 2s ease;
}
.content{
    flex: 1;
    width: 600px;
    margin: 0 25px;
    animation: fadeInUp 2s ease;
}
.content3{
    flex: 1;
    width: 600px;
    margin: 0 25px;
    animation: fadeInLeft 2s ease;
}
.content .first{
    font-size: 30px;
    margin-bottom: 20px;
    color: darkolivegreen;
}
.content{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}
.content .button{
    display:inline-block;
    background-color:darkolivegreen;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1rem;
}
.content3 .buttons{
    display:inline-block;
    background-color:darkolivegreen;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.content .button:hover{
    background-color: rgb(178, 219, 108);
    transform: scale(1.1);
}
.content .buttons:hover{
    background-color: rgb(178, 219, 108);
    transform: scale(1.1);
}
.idiots{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
.vision{
    flex:1;
    width: 400px;
    margin: auto;
    animation: fadeInBottom 2s ease;
}
.pain{
    width: 80%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.pain2{
    width: 50%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.two{
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: darkolivegreen;
}
.paragraph{
    text-align: center;
    font-size: 25px;
    padding-top: 3rem;
}
.paragraphs{
    text-align: left;
    font-size: 24px;
}

@media screen and (max-width: 768px){
    .aboutus .one{
        font-size: 45px;
        margin-top: 30px;
    }
    .bigcontainer{
        margin: 0px;
    }
    .container2{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .container3{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .content{
        width: 90%;
        margin: 35px 0px;
    }
    .content2{
        width: 90%;
        margin: 15px 15px;
    }
    .content3{
        width: 90%;
        margin: 20px 20px;
    }
    .content .first{
        font-size: 30px;
    }
   .content .paragraphs{
        font-size: 18px;
        margin-bottom: 20px;
   }
   .content2 .two{
        font-size: 30px;
   }
   .content3 .two{
        font-size: 30px;
   }
   .content .button{
        font-size: 16px;
        padding:8px 16px;
   }
   .content3 .buttons{
        font-size: 16px;
        padding:8px 16px;
   }
   .idiots{
        width: 100%;
   }
   .vision{
        width:100%;
   }
   .content2 .paragraph{
        font-size: 18px;
        margin-bottom: 20px;
   }
   .content3 .paragraph{
        font-size: 18px;
        margin-bottom: 20px;
   }
   .google{
        width: 90%;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px 40px;
   }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInBottom{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.accordion{
    max-width: 580px;
    width: 100%;
    background-color: white;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
}
.accordion .accordion-content{
    margin: 10px 0;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-content:nth-child(2){
    background-color: whitesmoke;
    border-color: rgb(154, 154, 154);
}
.accordion-content:nth-child(3){
    background-color: whitesmoke;
    border-color: rgb(154, 154, 154);
}
.accordion-content:nth-child(4){
    background-color: whitesmoke;
    border-color: rgb(154, 154, 154);
}
.accordion-content .open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s linear;
}
.accordion-content .open header{
    min-height: 35px;
}
.accordion-content header .title{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.accordion-content header i{
    font-size: 15px;
    color: whitesmoke;
}
.accordion-content .description{
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: black;
    height: 0;
    transition: all 0.2s linear;
}
.google{
    width: 80%;
    height: 600px;
    border: 2px black;
    margin-right: 0px;
    margin-left: 150px;
    margin-bottom: 10px;
}
iframe{
    height: 500px;
    width: 80%;
    display: block;
    margin: 0 auto;

}
.area{
    align-items: center;
    justify-content: center;
    display: flex;
}
