.container{
    display:grid;
    grid-template-rows: 25px 10px 3px 10px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 40px 50px 50px 50px 30px 20px 50px 50px 50px ;
}

.name{
    grid-column-start:3;
    grid-row-start: 2;
    font-size:30px;
    font-weight: 700;
}
.logo{
    grid-column-start: 4;
    grid-row-start: 1;
}
.features{
    grid-column-start: 11;
    grid-row-start: 4;
}
.aboutus{
    grid-column-start: 13;
    grid-column-end: 15 ;
    grid-row-start: 4;
    grid-row-end: 4;
}
.privacy{
    grid-column-start: 15;
    grid-column-end: 18 ;
    grid-row-start: 4;
    grid-row-end: 4;
}
.container::after{
    content:"";
    position:absolute;
    background-color: #ff3c78;
    height:3px;
    width:0;
    left:0;
    bottom:-10px;
    transition:0.3s;
}
.container:hover:after{
    width:100%;
}
