*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: Arial;
    font-size: 30px;
    color:darkolivegreen;
}
a, a:hover{
    text-decoration: none;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #b0fc38;
}
.top-bar span{
    color:#fff
}
.top-bar ul{
    display: flex;
    list-style: none;
}
.top-bar{
    list-style: none;
    display: flex;
}
.top-bar li{
    margin: 0px 5px;
}
.top-bar a{
    color:#fff
}
.top-bar a:hover{
    color:aqua
}

nav{
    background: red;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: #fff;
}
nav a:hover{
    color:aqua;
}
.logo img{
    width:80px;
    margin-right: 10px;
}

.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;

}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width:600px) {
    nav{
        display: block;
        position: relative;
        padding:15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
}
.menu.active, .toggle{
    display: block;
}
.toggle{
    position: absolute;
    top:15px;
    right:20px
}