*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: darkolivegreen;
}
.history{
    position: relative;
    max-width: 1200px; 
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    margin-top: 10px;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}
.container:nth-child(7){
    animation-delay: 6s;
}

.history-content{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50% ;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.history::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 5s linear forwards;
    margin-top: 50px;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.history-content h2{
    font-weight: 600;
}
.history-content small{
    display: inline-block;
    margin-bottom: 15px;
}
.history h1{
    font-weight: 900;
    margin-bottom: 20px;
}
h1{
    color: #fff;
    text-align: center;
    
}
.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid greenyellow;
    right: -15px;
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}
.bobox i{
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}
button{
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
button .fa{
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 6px black;
}
.fa{
    font-size: 20px;
    padding: 10px 18px;
}
.fa-arrow-left{
    background: rgb(255, 255, 255);
}
.buttons .fa-arrow-left{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media screen and (max-width:600px){
    .history{
        margin: 50px auto;
    }
    .history::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .history-content{
        font-size: 13px;
    }
    .history-content small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-arrow,.right-arrow{
        border-right: 15px solid white;
        border-left: 0;
        left: -15px;
    }
}

@media screen and(max-width:768px){
    .container{
        width:80%;
        grid-template-columns: 1fr;
    }
    nav{
        display: block;
        position: relative;
        padding:15px 20px;
    }
    .nav{
        position: fixed;
        left:0;
        background: var(--color-white);
        width: 18rem;
        z-index:3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
    }
    .nav .logo{
        display: inline;
    }
    .nav .logo h1{
        display: inline;
    }
    .nav .nav1 h1{
        display: inline;
    }
    .nav .nav1 a{
        width: 100%;
        height: 3.4rem;
    }
    .nav .nav1 a:last-child{
        position: absolute;
        bottom: 5rem;
    }
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .recent-activity{
        position: relative;
        margin: 3rem 0 0;
        width: 100%;
    }
    main .recent-activity table{
        width: 100%;
        margin: 0;
    }
    .soda{
        width: 94%;
        margin:0 auto 4rem;
    }
    .soda .user .infos{
        display: inline;
    }
    
}
