@media only screen and (max-width:640px){
*{
    font-family: arial;
}
.container{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}
.menu{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    position:relative;
    display:inline-block;
    grid-column-start: 26;
    grid-column-end: 35;
    grid-row-start: 5;
    grid-row-end: 8;
    text-align: center;
    color:white;
    padding-top:10px;
    justify-content: space-between;               
    cursor:pointer;
    width:100%;
    transform:translatex(50%);
    z-index:1;
    background-color: transparent;
    transition:0.3s;
    width:80px; 
}
.navbar{
    display: none;
}
.menuicon{
    width:50px;
    outline:none;
    cursor:pointer;
}
.menu-content{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: darkolivegreen;
    color:white;
    border-color:black;
    border-style:solid;
    border-radius: 20px;
    min-width:0px;
}
.menu:hover .menu-content{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width:80px;
}
.container{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}
.navbar{
    display:none;
}
.logoo{
    grid-row-start:3;
    grid-column-start:3;
    width:70px;
    height:auto;
}
.logo{
    grid-column-start: 11;
    grid-row-start: 4;
    grid-row-end:4;
    font-family: Arial;
    font-size: 35px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 12;
    grid-column-end: 26;
    grid-row-start: 8;
    grid-row-end:8;
    font-size: 15px;
    padding-bottom: 10px;
    font-style:italic;
    color:black;
    
}
.aboutus{
    display:none;
}
.services{
    display:none;
}
.signin{
    display:none;
}
}
.aboutus2{
    font-size: 15px;
    padding-bottom: 10px;
    color:white;
    font-weight:bold;
    transition:0.3s ease-in-out;
    font-family: Arial;
    cursor: pointer;
}
.aboutus2:hover{
    color:black;
}
.services2{
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Arial;
    color:white;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
.services2:hover{
    color:black;
}
.signin2{
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Arial;
    color:white;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
.signin2:hover{
    color:black;
}
.image1{
    width:320px;
    grid-row-start: 54;
    grid-column-start: 2;
    border-radius:0px 0px 15px 50px;
    transition:0.8s ease;
}
.image1:hover{
    opacity:0.9;
}
.astracaresintro{
    grid-row-start: 18;
    grid-column-start: 3;
    grid-column-end: 30;
    font-family: arial;
    font-size: 35;
    color:darkolivegreen;
}
.description{
    grid-row-start: 28;
    grid-column-start: 3;
    grid-column-end:30;
    font-family: arial;
}
.baby{
    grid-row-start: 90;
    grid-row-end:117;
    grid-column-start: 1;
    grid-column-end: 17;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.babysitterimg{
    grid-row-start: 87;
    grid-column-start: 1;
    width:150px;
    padding-left: 5px;
    height:auto;
}
.baby-head{
    grid-row-start: 102;
    grid-column-start: 3;
    font-size: 18px;
    font-weight:bold;
}
.baby-text{
    grid-row-start: 106;
    grid-column-start: 3;
    grid-column-end: 15;
}
.children{
    grid-row-start: 90;
    grid-row-end:117;
    grid-column-start: 19;
    grid-column-end: 33;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.nannypic{
    grid-row-start: 90;
    grid-column-start: 21;
    width:90px;
    height:auto;
}
.children-head{
    grid-row-start: 102;
    grid-column-start: 21;
    font-size: 18px;
    font-weight:bold;
}
.children-text{
    grid-row-start: 106;
    grid-column-start: 21;
    grid-column-end: 33;
}
.teenager{
    grid-row-start: 121;
    grid-row-end:148;
    grid-column-start: 1;
    grid-column-end: 17;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.governessimg{
    grid-row-start: 122     ;
    grid-column-start: 5;
    width:80px;
    height:auto;
}
.governess-head{
    grid-row-start: 131;
    grid-column-start: 3;
    font-size: 18px;
    font-weight:bold;
}
.governess-text{
    grid-row-start: 135;
    grid-column-start: 3;
    grid-column-end: 15;
}
.viewmore{
    grid-row-start: 121 ;
    grid-row-end:148;
    grid-column-start: 19;
    grid-column-end: 33;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.viewmore-text{
    grid-row-start: 126;
    grid-column-start: 20;
    grid-column-end: 31;
    text-align: center;
    font-weight: bold;
    padding-left: 5px;
}
.clickhere{
    grid-row-start: 136;
    grid-row-end: 140;
    grid-column-start: 20;
    grid-column-end: 31;
    margin-left: 7px;
    border-radius: 5px;
    border:none;
    background-color: darkolivegreen;
    color:white;
    font-weight:bold;
    transition: 0.3s ease-in-out;
}
.clickhere:hover{
    background-color: greenyellow;
    color:black;
    border:2px solid black;
}
.chooseus{  
    grid-row-start: 165;
    grid-column-start: 5;
    grid-column-end: 30;
    font-size: 30px;
    color:darkolivegreen;
}
.percentagesymbol{
    width:100px;
    height:auto;
    grid-row-start: 172;
    grid-column-start: 3;
}
.percentage-head{
    grid-row-start: 172;
    grid-column-start: 14;
    grid-column-end: 40;
    font-size: 20px;
    font-weight: bold;
}
.percentage-text{
    grid-row-start: 175;
    grid-column-start: 15;
    grid-column-end: 34;
}
.lightningimg{
    width:114px;
    height:auto;
    grid-row-start: 192;
    grid-column-start: 2;   
}
.lightning-head{
    grid-row-start: 192;
    grid-column-start: 15;
    grid-column-end: 41;
    font-size: 20px;
    font-weight: bold;
}
.lightning-text{
    grid-row-start: 195;
    grid-column-start: 15;
    grid-column-end: 34;
}
.comfortsymbol{
    width:115px;
    height:auto;
    grid-row-start: 213;
    grid-column-start: 3;
}
.comfort-head{
    grid-row-start: 214;
    grid-column-start: 15;
    grid-column-end: 34;
    font-size: 20px;
    font-weight: bold;
}
.comfort-text{
    grid-row-start: 217;
    grid-column-start: 15;
    grid-column-end: 34;
}
.healthsymbol{
    grid-row-start: 235;
    grid-column-start: 3; 
    width:110px;
}
.health-head{
    grid-row-start: 236;
    grid-column-start: 15;
    grid-column-end: 34;
    font-size: 20px;
    font-weight: bold;
}
.health-text{
    grid-column-start: 15;
    grid-column-end: 34;
    grid-row-start: 239;
}
@media only screen and (min-width:641px){
*{
    font-family: arial;
}
.container{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-gap:0px;
}
.navbar{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 8px;
    top:0;
    position:fixed;
    background-color: white;
    width:100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.menu{
    display:none;
}
.menu-content{
    display:none;
}
.logoo{
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start:5;
    width:68px;
    height:auto;
}
.logo{
    grid-column-start: 13;
    grid-row-start: 3;
    grid-row-end:4;
    font-family: Arial;
    font-size: 30px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 14;
    grid-column-end: 28;
    grid-row-start: 6;
    grid-row-end:8;
    font-size: 15px;
    font-style:italic;
    color:black;
    margin-top: 2px;
    
}
.aboutus{
    grid-column-start: 74;
    grid-column-end: 82;
    grid-row-start: 5;
    grid-row-end:6;
    font-size: 15px;
    padding-bottom: 10px;
    color:darkgreen;
    font-weight:bold;
    transition:0.3s ease-in-out;
    font-family: Arial;
    cursor: pointer;
}
.aboutus:hover{
    color:black;
}
.services{
    grid-row-start: 5;
    grid-column-start: 91;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: Arial;
    color:darkgreen;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
.services:hover{
    color:black;
}
.signin{
    grid-column-start:108;
    grid-column-end: 116;
    grid-row-start: 4;
    border:none;
    font-size:15px;
    background-color: darkolivegreen;
    color:white;
    padding-top:10px;
    font-family: arial;
    padding-bottom:28px;
    transition:0.8s;
    border-radius: 5px;
    font-weight: bold;
}
.signin:hover{
    background-color: white;
    color:darkolivegreen;
    border:2px solid black;
}
.image1{
    width:500px;
    grid-row-start: 15;
    grid-column-start: 8;
    border-radius:0px 0px 15px 50px;
    transition:0.8s ease;
    z-index: -1;
}
.image1:hover{
    opacity:0.9;
}
.astracaresintro{
    grid-row-start: 18;
    grid-row-end: 23;
    grid-column-start: 73;
    grid-column-end: 95;
    font-family: arial;
    font-size: 40;
    color:darkolivegreen;
}
.description{
    grid-row-start: 30;
    grid-column-start: 73;
    grid-column-end: 115    ;
    font-family: arial;
    font-size: 18;
}
.baby{
    grid-row-start: 64;
    grid-row-end:93;
    grid-column-start: 8;
    grid-column-end: 30;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.babysitterimg{
    grid-row-start: 61;
    grid-column-start: 8;
    width:200px;
    padding-left: 5px;
    height:auto;
}
.baby-head{
    grid-row-start: 79;
    grid-column-start: 10;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
}
.baby-text{
    grid-row-start: 83;
    grid-column-start: 10;
    grid-column-end: 28;
    cursor: pointer;
}
.children{
    grid-row-start: 64;
    grid-row-end:93;
    grid-column-start: 37;
    grid-column-end: 59;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.nannypic{
    grid-row-start: 65;
    grid-column-start: 41;
    width:110px;
    padding-left: 5px;
    height:auto;
}
.children-head{
    grid-row-start: 79;
    grid-column-start: 39;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
}
.children-text{
    grid-row-start: 83;
    grid-column-start: 39;
    grid-column-end: 57;
    cursor: pointer;
}
.teenager{
    grid-row-start: 64;
    grid-row-end:93;
    grid-column-start: 66;
    grid-column-end: 88;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.governessimg{
    grid-row-start: 66;
    grid-column-start: 71;
    width:110px;
    padding-left: 5px;
    height:auto;
}
.governess-head{
    grid-row-start: 79;
    grid-column-start: 68;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
}
.governess-text{
    grid-row-start: 83;
    grid-column-start: 68;
    grid-column-end: 86;
    cursor: pointer;
}
.viewmore{
    grid-row-start: 64;
    grid-row-end:93;
    grid-column-start: 95;
    grid-column-end: 117;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.viewmore-text{
    grid-row-start: 72;
    grid-column-start: 98;
    grid-column-end: 114;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.clickhere{
    grid-row-start: 80  ;
    grid-row-end: 84;
    grid-column-start: 99;
    grid-column-end: 113;
    border-radius: 5px;
    border:none;
    background-color: darkolivegreen;
    color:white;
    font-weight:bold;
    transition: 0.3s ease-in-out;
}
.clickhere:hover{
    background-color: white;
    color:darkolivegreen;
    border:2px solid black;
}
.chooseus{
    grid-row-start: 105;
    grid-column-start: 48;
    grid-column-end: 114;
    font-size: 35px;
    font-weight: bold;
    color:darkolivegreen;
}
.percentagesymbol{
    width:150px;
    height:auto;
    grid-row-start: 116;
    grid-column-start: 10;
}
.percentage-head{
    grid-row-start: 117;
    grid-column-start: 29;
    grid-column-end: 40;
    font-size: 20px;
    font-weight: bold;
}
.percentage-text{
    grid-row-start: 120;
    grid-column-start: 29;
    grid-column-end: 50;
}
.lightningimg{
    width:170px;
    height:auto;
    grid-row-start: 116;
    grid-column-start: 70;   
}
.lightning-head{
    grid-row-start: 117;
    grid-column-start: 90;
    grid-column-end: 93;
    font-size: 20px;
    font-weight: bold;
}
.lightning-text{
    grid-row-start: 120;
    grid-column-start: 90;
    grid-column-end: 111;
}
.comfortsymbol{
    width:170px;
    height:auto;
    grid-row-start: 140;
    grid-column-start: 9;
}
.comfort-head{
    grid-row-start: 142;
    grid-column-start: 29;
    grid-column-end: 40;
    font-size: 20px;
    font-weight: bold;
}
.comfort-text{
    grid-row-start: 145;
    grid-column-start: 29;
    grid-column-end: 50;
}
.healthsymbol{
    grid-row-start: 140;
    grid-column-start: 70; 
    width:170px;
}
.health-head{
    grid-row-start: 142;
    grid-column-start: 90;
    grid-column-end: 90;
    font-size: 20px;
    font-weight: bold;
}
.health-text{
    grid-column-start: 90;
    grid-column-end: 111;
    grid-row-start: 145;
}
}
@media only screen and (min-width:1301px){
*{
    font-family: arial;
}
.container{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-gap:0px;
}
.menu{
    display:none;
}
.menu-content{
    display:none;
}
.navbar{
    display:grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 8px;
    top:0;
    position:fixed;
    background-color: white;
    width:100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.logoo{
    grid-row-start:3;
    grid-column-start:5;
    width:120px;
    height:auto;
}
.logo{
    grid-column-start: 18;
    grid-row-start: 4;
    grid-row-end:4;
    font-family: Arial;
    font-size: 45px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 19;
    grid-column-end: 37;
    grid-row-start: 9;
    grid-row-end:9;
    font-size: 18px;
    padding-bottom: 10px;
    font-style:italic;
    color:black;
    
}
.aboutus{
    grid-column-start: 85;
    grid-column-end: 98;
    grid-row-start: 7;
    grid-row-end:7;
    font-size: 18px;
    padding-bottom: 10px;
    color:darkgreen;
    font-weight:bold;
    transition:0.3s ease-in-out;
    font-family: Arial;
    cursor: pointer;
}
.aboutus:hover{
    color:black;
}
.services{
    grid-row-start: 7;
    grid-column-start: 107;
    grid-row-end:7;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: Arial;
    color:darkgreen;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
.services:hover{
    color:black;
}
.signin{
    grid-column-start:129;
    grid-column-end: 139;
    grid-row-start: 6;
    border:none;
    font-size:15px;
    background-color: darkolivegreen;
    color:white;
    padding-top:10px;
    font-family: arial;
    padding-bottom:28px;
    transition:0.8s;
    border-radius: 10px;
    font-weight: bold;
}
.signin:hover{
    background-color: green;
    color:white;
}
.image1{
    width:610px;
    grid-row-start: 20;
    grid-column-start: 8;
    border-radius:0px 0px 15px 50px;
    transition:0.8s ease;
}
.image1:hover{
    opacity:0.9;
}
.astracaresintro{
    grid-row-start: 25;
    grid-row-end: 30;
    grid-column-start: 85;
    grid-column-end: 110;
    font-family: arial;
    font-size: 45;
    color:darkolivegreen;
}
.description{
    grid-row-start: 39;
    grid-column-start: 85;
    grid-column-end: 133;
    font-family: arial;
    font-size: 20;
}
.baby{
    grid-row-start: 82;
    grid-row-end:118;
    grid-column-start: 12;
    grid-column-end: 38;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.babysitterimg{
    grid-row-start: 79;
    grid-column-start: 12;
    width:250px;
    padding-left: 5px;
    height:auto;
}
.baby-head{
    grid-row-start: 101;
    grid-column-start: 15;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
}
.baby-text{
    grid-row-start: 105;
    grid-column-start: 15;
    grid-column-end: 33;
    cursor: pointer;
    font-size: 18px;
}
.children{
    grid-row-start: 82;
    grid-row-end:118;
    grid-column-start: 46;
    grid-column-end: 70;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.nannypic{
    grid-row-start: 84;
    grid-column-start: 50;
    width:135px;
    padding-left: 3px;
    height:auto;
}
.children-head{
    grid-row-start: 101;
    grid-column-start: 49;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
}
.children-text{
    grid-row-start: 105;
    grid-column-start: 49;
    grid-column-end: 66;
    cursor: pointer;
    font-size: 18px;
}
.teenager{
    grid-row-start: 82;
    grid-row-end:118;
    grid-column-start: 78;
    grid-column-end: 102;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.governessimg{
    grid-row-start: 85;
    grid-column-start: 83;
    width:125px;
    padding-left: 5px;
    height:auto;
}
.governess-head{
    grid-row-start: 101;
    grid-column-start: 81;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
}
.governess-text{
    grid-row-start: 105;
    grid-column-start: 81;
    grid-column-end: 99;
    cursor: pointer;
    font-size: 18px;
}
.viewmore{
    grid-row-start: 82;
    grid-row-end:118;
    grid-column-start: 110;
    grid-column-end: 134;
    text-align: center;
    color:darkolivegreen;
    font-family: arial;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.viewmore-text{
    grid-row-start: 90  ;
    grid-column-start: 114;
    grid-column-end: 130;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.clickhere{
    grid-row-start: 102;
    grid-row-end: 106;
    grid-column-start: 115;
    grid-column-end: 128;
    border-radius: 5px;
    border:none;
    background-color: darkolivegreen;
    color:white;
    font-weight:bold;
    transition: 0.3s ease-in-out;
    font-size: 16px;
}
.clickhere:hover{
    background-color: white;
    color:darkolivegreen;
    border:2px solid black;
}
.chooseus{
    grid-row-start: 105;
    grid-column-start: 48;
    grid-column-end: 114;
    font-size: 35px;
    color:darkolivegreen;
}
.percentagesymbol{
    width:150px;
    height:auto;
    grid-row-start: 116;
    grid-column-start: 10;
}
.percentage-head{
    grid-row-start: 117;
    grid-column-start: 29;
    grid-column-end: 40;
    font-size: 20px;
    font-weight: bold;
}
.percentage-text{
    grid-row-start: 120;
    grid-column-start: 29;
    grid-column-end: 50;
}
.lightningimg{
    width:170px;
    height:auto;
    grid-row-start: 116;
    grid-column-start: 70;   
}
.lightning-head{
    grid-row-start: 117;
    grid-column-start: 90;
    grid-column-end: 93;
    font-size: 20px;
    font-weight: bold;
}
.lightning-text{
    grid-row-start: 120;
    grid-column-start: 90;
    grid-column-end: 111;
}
.comfortsymbol{
    width:170px;
    height:auto;
    grid-row-start: 141;
    grid-column-start: 9;
}
.comfort-head{
    grid-row-start: 144;
    grid-column-start: 29;
    grid-column-end: 40;
    font-size: 20px;
    font-weight: bold;
}
.comfort-text{
    grid-row-start: 147;
    grid-column-start: 29;
    grid-column-end: 50;
}
.healthsymbol{
    grid-row-start: 141;
    grid-column-start: 70; 
    width:170px;
}
.health-head{
    grid-row-start: 144;
    grid-column-start: 90;
    grid-column-end: 90;
    font-size: 20px;
    font-weight: bold;
}
.health-text{
    grid-column-start: 90;
    grid-column-end: 111;
    grid-row-start: 147;
}
}
