@media only screen and (max-width:901px){
*{
    font-family: arial;
}
#nannysection{
    display: none;
}
.navbar2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.menu{
    grid-column-start: 52;
    grid-column-end: 52;
    grid-row-start: 4;
    grid-row-end: 8;
    text-align: center;             
    color:white;
    padding-top:10px;            
    cursor:pointer;
    width:100%;
    background-color: transparent;
    transition:0.3s;
    width:80px; 
}
.navbar{
    display: none;
}
.menuicon{
    width:50px;
    outline:none;
    cursor:pointer;
}
.menu-content{
    display: none;
    position: flex;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: darkolivegreen;
    color:white;
    border-color:black;
    border-style:solid;
    min-width:90px;
    justify-self: center;
    align-items: center;
}
.menu:hover .menu-content{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width:80px;
}
.aboutus{
    display:none;
}
.services{
    display:none;
}
.logoo2{
    grid-row-start:4;
    grid-column-start:4;
    width:65px;
    height:auto;
}
.logo2{
    grid-column-start: 6;
    grid-row-start: 6;
    grid-row-end:6;
    font-family: Arial;
    font-size: 30px;
    color:darkolivegreen;
}
.slogan2{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end:13;
    font-size: 15px;
    padding-bottom: 10px;
    font-style:italic;
    color:black;
}
.signin{
    display:none;
}
.moo{
    padding:20px 0;
}
#aboutus2{
    font-size: 15px;
    padding-bottom: 10px;
    color:white;
    font-weight:bold;
    transition:0.3s ease-in-out;
    font-family: Arial;
    cursor: pointer;
    font-size: 20px;
}
#aboutus2:hover{
    color:black;
}
#services2{
    font-size: 20px;
    padding-bottom: 10px;
    font-family: Arial;
    color:white;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
#services2:hover{
    color:black;
}
#signin2{
    font-size: 20px;
    padding-bottom: 10px;
    font-family: Arial;
    color:white;
    transition:0.3s ease-in-out;
    font-weight:bold;
    cursor:pointer;
}
#signin2:hover{
    color:black;
}
.container{
    display: block;
}
.sub{
    margin-top:10em;
    padding-left: 2rem;
    font-weight: bold;
}
.title{
    padding-left: 2rem;
    font-size: 3.2rem;
    color: darkolivegreen;
}
.baby{
    padding-left:2rem;
    font-size: 1.7rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    padding-left:2rem;
    margin-top:1rem;
    max-width: 80%;
    font-size: 1.2em;
}
.babyy{
    padding-top: 3em;
    max-width: 80vw;
    
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 1.7rem;
    text-align: right;
    color: darkolivegreen;
    padding-top: 3em;
    padding-right: 1.5em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 3em;
    }
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:2.6em;
    margin-top: 1rem;
    max-width: 85%;
    padding-left: 3.9em;
    font-size: 1.2em;
}
.nannyy{
    padding-top: 4em;
    max-width:90vw;
    padding-left: 1em;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 1.7rem;
    color: darkolivegreen;   
    margin-top: 2rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    padding-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.2em;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:60vw;
    padding-left: 5em;
    padding-top: 2em;
}
}
@media only screen and (min-width:902px) and (max-width:1099px){
*{
    font-family: arial;
}
#nannysection2{
    display: none;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.navbar2{
    display: none;
}
.logoo{
    width:70px;
    height:auto;
    grid-column-start: 3;
    grid-row-start:3;
    margin-right: 11px;
}
.logo{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    font-size: 35px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 11;
}
.about{
    grid-column-start: 44;
    grid-column-end: 52;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about:hover{
    color:black;
}
.home{
    grid-column-start: 37;
    grid-column-end: 40;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home:hover{
    color:black;
}
.login{
    grid-column-start: 53;
    grid-column-end: 57;
    grid-row-start: 7;
    grid-row-end: 14;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login:hover{
    background-color: yellowgreen;
}
button{
    margin-top: 3%;
}
.container{
    display: flex;
}
.sub{
    margin-top:10em;
    padding-left: 2rem;
    font-weight: bold;
}
.title{
    padding-left: 2rem;
    font-size: 3.2rem;
    color: darkolivegreen;
}
.baby{
    padding-left:2rem;
    font-size: 1.7rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    padding-left:2rem;
    margin-top:1rem;
    max-width: 80%;
    font-size: 1.2em;
}
.babyy{
    padding-top: 6em;
    max-width: 40vw;
    padding-right:3em;
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 1.7rem;
    text-align: right;
    color: darkolivegreen;
    padding-top: 3em;
    padding-right: 1.5em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 3em;
    }
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:2.6em;
    margin-top: 1rem;
    max-width: 85%;
    padding-left: 3.9em;
    font-size: 1.2em;
}
.nannyy{
    padding-top: 10em;
    max-width:40vw;
    padding-left: 3em;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 1.7rem;
    color: darkolivegreen;   
    margin-top: 2rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    padding-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.2em;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:27vw;
    padding-right: 3rem;
}
}
@media only screen and (min-width:1100px){
*{
    font-family: arial;
}
#nannysection2{
    display: none;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.navbar2{
    display: none;
}
.logoo{
    width:70px;
    height:auto;
    grid-column-start: 3;
    grid-row-start:3;
    margin-right: 11px;
}
.logo{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    font-size: 35px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 11;
}
.about{
    grid-column-start: 44;
    grid-column-end: 52;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about:hover{
    color:black;
}
.home{
    grid-column-start: 37;
    grid-column-end: 40;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home:hover{
    color:black;
}
.login{
    grid-column-start: 53;
    grid-column-end: 57;
    grid-row-start: 7;
    grid-row-end: 14;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login:hover{
    background-color: yellowgreen;
}
button{
    margin-top: 3%;
}
.container{
    display: flex;
}
.sub{
    margin-top:10em;
    padding-left: 2rem;
    font-weight: bold;
}
.title{
    padding-left: 2rem;
    font-size: 3.2rem;
    color: darkolivegreen;
}
.baby{
    padding-left:2rem;
    font-size: 1.7rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    padding-left:2rem;
    margin-top:1rem;
    max-width: 80%;
    font-size: 1.2em;
}
.babyy{
    padding-top: 2em;
    max-width: 32vw;
    padding-right: 5em;
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 1.7rem;
    text-align: right;
    color: darkolivegreen;
    padding-top: 3em;
    padding-right: 1.5em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 3em;
    }
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:2.6em;
    margin-top: 1rem;
    max-width: 85%;
    padding-left: 3.9em;
    font-size: 1.2em;
}
.nannyy{
    padding-top: 3em;
    max-width:32vw;
    padding-left: 8em;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 1.7rem;
    color: darkolivegreen;   
    margin-top: 2rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    padding-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.2em;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:27vw;
    padding-right: 3rem;
}
}
