.note{
    color: gray;
    font-size: 1rem;
}
.pfp1{
    border-radius: 10px;
}
.pfp2{
    border-radius: 10px;
}
*{
    font-family: arial;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.logooo{
    width: 4rem;
    margin-right: 1rem;
}
.login-btn{
    outline: none;
    background-color: rgb(67, 81, 67);
    border: none;
    color: white;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    font-weight: bold;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    align-items: center;
    z-index: 100;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.logo{
    font-size: 2rem;
    color: darkolivegreen;
    text-decoration: none;
}
.navbar2 a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    margin: 1.5rem 0;
    display: block;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease-in-out;
    font-weight: bold;
}
.icons{
    font-size: 2.8rem;
    color: darkolivegreen;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    right: 5%;
}
.icons #close-icon{
    display: none;
}
.navbar2{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 5rem;
    background-color: darkolivegreen;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#check{
    display: none;
}

#check:checked~.icons #menu-icon {
    display: none;
}

.icons #close-icon {
    display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}
#check:checked~.navbar2 {
    height: 11rem;
}
#check:checked~.navbar2 a{
    transform: translateY(0);
}
@media only screen and (max-width:902px){
*{
    font-family: arial;
}
#nannysection{
    display: none;
}
.container{
    display: block;
}
.navbar{
    display: none;
}
.sub{
    margin-top:10em;
    padding-left: 2rem;
    font-weight: bold;
}
.title{
    padding-left: 2rem;
    font-size: 3.2rem;
    color: darkolivegreen;
}
.baby{
    padding-left:2rem;
    font-size: 1.7rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    padding-left:2rem;
    margin-top:1rem;
    max-width: 80%;
    font-size: 1.3em;
}
.babyy{
    padding-top: 3em;
    max-width: 60vw;
    margin: auto;
    display: block;
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 1.7rem;
    text-align: right;
    color: darkolivegreen;
    padding-top: 3em;
    padding-right: 0.9em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 2.4em;
    }
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:1.6em;
    margin-top: 1rem;
    max-width: 100%;
    font-size: 1.3em;
    padding-left: 1em;
}
.nannyy{
    padding-top: 4em;
    max-width:60vw;
    margin: auto;
    display: block;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 1.7rem;
    color: darkolivegreen;   
    margin-top: 2rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    padding-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.3em;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:50vw;
    margin: auto;
    display: block;
    padding-top: 2em;
}
.head{
    color: darkolivegreen;
    font-size: 1.5em;
    padding-top: 1em;
    padding-left: 2rem;
    font-weight: bold;
}
.box{
    max-width:70%;
    text-align: center;
    box-shadow: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    padding: 0.8rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}
.text1{
    font-size: 1.3em;
    display: block;
}
.name{
    color: darkolivegreen;
    font-weight: bold;
}
.comma{
    max-width: 10%;
    float: left;
    display: block;
    padding-right: 0.5em;
}
.container2{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.pfp1{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.pfp2{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.left-side{
    min-width: 50%;
}
.right-side{
    min-width: 50%;
}
.left-side-container{
    display: flex;
}
.right-side-container{
    display: flex;
    padding-top: 2rem;
}
}
@media only screen and (min-width:902px) and (max-width:1100px){
*{
    font-family: arial;
}
#nannysection2{
    display: none;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.header{
    display: none;
}
.logoo{
    width:70px;
    height:auto;
    grid-column-start: 3;
    grid-row-start:3;
    margin-right: 11px;
}
.logo{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    font-size: 35px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 11;
}
.about{
    grid-column-start: 44;
    grid-column-end: 52;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about:hover{
    color:black;
}
.home{
    grid-column-start: 37;
    grid-column-end: 40;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home:hover{
    color:black;
}
.login{
    grid-column-start: 53;
    grid-column-end: 57;
    grid-row-start: 7;
    grid-row-end: 14;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login:hover{
    background-color: yellowgreen;
}
button{
    margin-top: 3%;
}
.container{
    display: flex;
}
.sub{
    margin-top:10em;
    padding-left: 2rem;
    font-weight: bold;
}
.title{
    padding-left: 2rem;
    font-size: 3.2rem;
    color: darkolivegreen;
}
.baby{
    padding-left:2rem;
    font-size: 1.7rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    margin-left:2rem;
    margin-top:1rem;
    max-width: 90%;
    font-size: 1.3em;
}
.babyy{
    padding-top: 6em;
    max-width: 40vw;
    margin: auto;
    display: block;
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 1.7rem;
    text-align: right;
    color: darkolivegreen;
    padding-top: 3em;
    padding-right: 1.5em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 3em;
    }
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:2.6em;
    margin-top: 1rem;
    max-width: 85%;
    margin-left: 4em;
    font-size: 1.3em;
}
.nannyy{
    padding-top: 10em;
    max-width:40vw;
    margin: auto;
    display: block;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 1.7rem;
    color: darkolivegreen;   
    margin-top: 4rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    padding-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.3em;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:27vw;
    margin: auto;
    display: block;
    margin-top: 4rem;
    margin-right: 1rem;
}
.head{
    color: darkolivegreen;
    font-size: 1.5em;
    padding-top: 3em;
    padding-left: 2rem;
    font-weight: bold;
}
.box{
    max-width:60%;
    text-align: center;
    box-shadow: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    padding: 0.8rem;
    margin: 0 auto;
    display: block;
}
.text1{
    font-size: 1.3em;
    display: block;
}
.name{
    color: darkolivegreen;
    font-weight: bold;
}
.comma{
    max-width: 10%;
    float: left;
    display: block;
    padding-right: 0.5em;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.pfp1{
    display: block;
    margin: auto;
    width: 55%;
}
.pfp2{
    display: block;
    margin: auto;
    width: 55%;
    margin-top: 1rem;
}
.left-side{
    min-width: 50%;
}
.right-side{
    min-width: 50%;
}
.left-side-container{
    display: flex;
}
.right-side-container{
    display: flex;
}
}
@media only screen and (min-width:1100px) and (max-width:1700px){
*{
    font-family: arial;
}
#nannysection2{
    display: none;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.header{
    display: none;
}
.logoo{
    width:70px;
    height:auto;
    grid-column-start: 3;
    grid-row-start:3;
    margin-right: 11px;
}
.logo{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    font-size: 35px;
    color:darkolivegreen;
}
.slogan{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 11;
}
.about{
    grid-column-start: 44;
    grid-column-end: 52;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about:hover{
    color:black;
}
.home{
    grid-column-start: 37;
    grid-column-end: 40;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home:hover{
    color:black;
}
.login{
    grid-column-start: 53;
    grid-column-end: 57;
    grid-row-start: 7;
    grid-row-end: 14;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login:hover{
    background-color: yellowgreen;
}
button{
    margin-top: 3%;
}
.container{
    display: flex;
}
.sub{
    margin-top:10em;
    padding-left: 2.5%;
    font-weight: bold;
}
.title{
    padding-left: 2.5%;
    font-size: 3.2rem;
    color: darkolivegreen;
}
.baby{
    padding-left: 2.5rem;
    font-size: 2rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    margin-left: 2.5rem;
    margin-top:1rem;
    max-width: 100%;
    font-size: 1.5em;
}
.babyy{
    max-width: 32vw;
    display: block;
    margin-top: 5rem;
    margin-left: 6rem;
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 2rem;
    text-align: right;
    color: darkolivegreen;
    margin-top: 3em;
    margin-right: 1.5em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 3em;
}
#nannysection{
    margin-top: 4rem;
}
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:2.3em;
    margin-top: 1rem;
    max-width: 85%;
    margin-left: 3.9em;
    font-size: 1.5em;
}
.nannyy{
    padding-top: 5em;
    max-width:32vw;
    margin: auto;
    display: block;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 2rem;
    color: darkolivegreen;   
    margin-top: 2rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    margin-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.5em;
}
#governesscontainer{
    margin-top: 4rem;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:27vw;
    display: block;
    margin-right: 3rem;
    margin-top: 6rem;
}
.head{
    color: darkolivegreen;
    font-size: 2em;
    padding-top: 1em;
    padding-left: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}
.box{
    width:60%;
    text-align: center;
    box-shadow: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    padding: 0.8rem;
    margin: 0 auto;
    display: block;
}
.text1{
    font-size: 1.3em;
    display: block;
}
.name{
    color: darkolivegreen;
    font-weight: bold;
}
.comma{
    max-width: 10%;
    float: left;
    display: block;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.pfp1{
    display: block;
    margin: auto;
    width: 60%;
}
.pfp2{
    display: block;
    margin: auto;
    width: 60%;
}
.left-side{
    min-width: 50%;
}
.right-side{
    min-width: 50%;
}
.left-side-container{
    display: flex;
}
.right-side-container{
    display: flex;
}
}
@media only screen and (min-width:1700px){
*{
    font-family: arial;
}
#nannysection2{
    display: none;
}
.slogan{
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 11;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
    top:0;
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 10000;
}
.header{
    display: none;
}
.logoo{
    width:70px;
    height:auto;
    grid-column-start: 3;
    grid-row-start:3;
    margin-right: 11px;
}
.logo{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    font-size: 35px;
    color:darkolivegreen;
}
.about{
    grid-column-start: 44;
    grid-column-end: 52;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about:hover{
    color:black;
}
.home{
    grid-column-start: 37;
    grid-column-end: 40;
    grid-row-start: 9;
    color: darkolivegreen;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home:hover{
    color:black;
}
.login{
    grid-column-start: 53;
    grid-column-end: 57;
    grid-row-start: 7;
    grid-row-end: 14;
    border: none;
    outline: none;
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login:hover{
    background-color: yellowgreen;
}
button{
    margin-top: 3%;
}
.container{
    display: flex;
}
.sub{
    margin-top:10em;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.title{
    padding-left: 2rem;
    font-size: 5rem;
    color: darkolivegreen;
}
.baby{
    padding-left:2rem;
    font-size: 2.5rem;
    margin-top:7rem;
    color: darkolivegreen;
}
.line{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.babydescription{
    padding-left:2rem;
    margin-top:1rem;
    max-width: 80%;
    font-size: 1.8em;
}
.babyy{
    padding-top: 2em;
    max-width: 32vw;
    margin: auto;
    display: block;
}
.average{
    color: darkolivegreen;
    font-weight: bold;
}
.nanny{
    font-size: 2.5rem;
    text-align: right;
    color: darkolivegreen;
    padding-top: 3em;
    padding-right: 1.5em;
    text-align: right;
}
.line2{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    max-width:13%;   
    margin-left:auto;
    margin-right:0;
    margin-right: 3em;
    }
.nannydescription{
    text-align: right;
    margin-left:auto;
    margin-right:2.6em;
    margin-top: 1rem;
    max-width: 85%;
    padding-left: 4em;
    font-size: 1.8em;
}
.nannyy{
    padding-top: 3em;
    max-width:32vw;
    margin: auto;
    display: block;
}
.in{
    color: darkolivegreen;
    font-weight: bold;
}
.governess{
    padding-left:2rem;
    font-size: 2.5rem;
    color: darkolivegreen;   
    margin-top: 2rem;
}
.line3{
    background-color: darkolivegreen;
    height:0.5vh;
    margin-top: 0.2em;
    margin-left: 2em;
    max-width:13%;
}
.governessdescription{
    padding-left:2rem;
    margin-top:1.2rem;
    max-width: 80%;
    font-size: 1.8em;
}
.in2{
    color:darkolivegreen;
    font-weight: bold;
}
.governesss{
    max-width:27vw;
    margin: auto;
    display: block;
}
.head{
    color: darkolivegreen;
    font-size: 2em;
    padding-top: 1em;
    padding-left: 2rem;
    font-weight: bold;
}
.box{
    max-width:60%;
    text-align: center;
    box-shadow: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    line-height: 40px;
    padding: 0.8rem;
    margin: 0 auto;
    display: block;
}
.text1{
    font-size: 1.7em;
    display: block;
}
.name{
    color: darkolivegreen;
    font-weight: bold;
}
.comma{
    max-width: 10%;
    float: left;
    display: block;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.pfp1{
    display: block;
    margin: auto;
    min-width: 60%;
}
.pfp2{
    display: block;
    margin: auto;
    min-width: 60%;
    max-width: 63%;
}
.left-side{
    min-width: 50%;
}
.right-side{
    min-width: 50%;
}
.left-side-container{
    display: flex;
}
.right-side-container{
    display: flex;
}
}
